.menu {
    margin-top: 0;
}

.paper {
    margin-top: 15px;
    width: auto;
}

.container-landing {
    padding: 5px;
}

/* page portofolio */

.gotest {
    height: 9% !important;
    height:9% !important;
}