.sub-app-header {
    width: 100%;
    margin: 0 auto;   
}

.cont-toolbar {
    height: 40px !important;
    margin-top: 10px;
  text-align: center;
}

.App-logo {
    width: 90px !important; 
    height: 45px !important;
    margin-top: 0 !important;
}

@media only screen and (max-width: 450px) {
    /* For mobile phones: */
    .sub-app-header {
        width: 400px;
        margin: 0 auto;   
    }
  }